[submodule "packages/adapter-supabase"]
	path = packages/adapter-supabase
	url = https://github.com/elizaos-plugins/adapter-supabase
[submodule "packages/client-slack"]
	path = packages/client-slack
	url = https://github.com/elizaos-plugins/client-slack
[submodule "packages/client-telegram"]
	path = packages/client-telegram
	url = https://github.com/elizaos-plugins/client-telegram
